body {
    margin: 0;
    padding: 0;
    background-color: #cfd8dd;
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
}

.logo {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 300px;
    margin-top: 100px;
    margin-left: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.container {
    background-color: #edeff1;
    width: 80%;
    margin-top: 100px;
    margin-right: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}


button:hover {
    background-color: gray;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;}


button {
    border-width: 0;
    background-color: #fafafa;
    font-size: larger;
    border-radius: 10px;
   padding: 40px;
   margin-left: 20px;
    margin-right: 20px;}


.textcontainer{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 130px;}


.picutreman img {
    width: 250px;
    height: 200px;
}

.buttoncontainer button {
    width: 150px;
}

.buttoncontainer {
    text-align: center;
    background-color: #2562ff;
    width: 260px;
    height: 200px;
    border-radius: 10px;
    padding: 30px;
}


.like {
    background-color: #ffffff;
    height: 80px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 20%;
    position: absolute;
    top: 240px;
}

.heart {
    background-color: #ffffff;
    height: 80px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 20%;
    position: absolute;
    top: 330px;
}

.smile {
    background-color: #ffffff;
    height: 80px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 20%;
    position: absolute;
    top: 420px;

}


.fa-solid {
    margin-left: 30px;
}

.fa-regular {
    margin-left: 20px;
}


.cardviews {
    background-color: #ffffff;
    height: 385px;
    width: 300px;
    border-radius: 20px;
    margin-left: 20%;
    position: absolute;
    top: 520px;
    text-align: center;

}


.jauges {

    background-color: #ffffff;
    height: 285px;
    width: 281px;
    border-radius: 20px;
    margin-left: 40%;
    position: absolute;
    top: 30%;
    padding-left: 20px;
}

.title {

    height: 285px;
    width: 300px;
    border-radius: 20px;
    margin-left: 682px;
    position: absolute;
    top: 65%;
}



.pictures {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: -60px;
}


.graphic img {

    width: 250px;
    height: 200px;
    margin-left: 2%;
}

.emmy {
    background-color: #ffffff;
    border-radius: 20px;
    height: 80px;
    width: 300px;
    margin-left: 40%;
    position: absolute;
    top: 73%;
    text-align: center;
}


.joy {
    background-color: #ffffff;
    border-radius: 20px;
    height: 80px;
    width: 300px;
    margin-left: 40%;
    position: absolute;
    top: 85%;
    text-align: center;

}

.mara {

    background-color: #ffffff;
    border-radius: 20px;
    height: 80px;
    width: 300px;
    margin-left: 40%;
    position: absolute;
    top: 97%;
    text-align: center;



}